@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: "Josefin Sans";
}
body {
    background-color: #1e1e1e;
    scroll-behavior: smooth;
    color: #fff;
    width: 84%;
    display: grid;
    place-items: center;
    margin-left: 8%;
}
ul {
    list-style: none;
    padding-left: 0
}
ul a{
    text-decoration: none;
    color: #fff;
}
.logo_small {
    height: 4.5em;
}

#navbarNav a {
    font-size: 1.4em;
}
.active_page{
    color: #F7AC59;
}

.grid-quad {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 30px;
}

.mini {
    width: 80px;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10%;
    place-items: center;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        "footer_bot footer_bot footer_bot";
    text-align: center;
}

.footer_bot {
    grid-area: footer_bot;
}
.flex-col{
    width: 100%;
}

.fa-heart {
    color: red;
}
.fa-certificate{
    color: green;
}
@media (max-width: 752px) {
    body{
        margin: 0;
        width: 100%;
    }
    /* footer */
    .footer_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: none;
        gap: 5%;
    }
    .footer_bot{
        grid-area: auto;
    }
    .flex-col{
        width: 100%;
    }
}


/* MISC */

.orange_text{
    color: #D99027;
}
.big_sub{
    font-size: 22px;
}
.small_sub{
    font-size: 18px;
}
