@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: "Josefin Sans";
}

.grid-container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.4fr 1.8fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-top grid-top"
    "grid-mid1 grid-mid2"
    "grid-bot grid-bot";
    place-items: center;
    height: 100vh;
    margin-bottom: 2%;
}

.grid-top { grid-area: grid-top; place-items: initial;}
.grid-bot { grid-area: grid-bot;  }
.grid-mid1 { grid-area: grid-mid1; }
.grid-mid2 { grid-area: grid-mid2; text-align: center;}




.button_bot{
    width: 48%;
}
.logo_big{
    height: 15dvi;
    min-height: 200px;
    border-radius: 8em;
}
h1{
    font-size: 4.5em;
    color: #fff;
    font-weight: 600;
}

.main {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1.2fr 1.2fr 0.6fr;
    gap: 0px 0px;
    height: 100vh;
    place-items: center;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      "main_grid_bot main_grid_bot";
  }
  
  .main_grid_bot { grid-area: main_grid_bot; }
  
@media (max-width: 752px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .8fr 1.3fr 1.3fr;
        grid-template-areas: none;
        height: 95vh;
        margin-bottom: 15vh;
    }
    .logo_big{
        height: 150px;
        min-height: auto;
    }
    .grid-top{
        grid-area: auto;
    }
    .grid-mid1{
        grid-area: auto;
    }
    .grid-mid2{
        display: grid;
        grid-area: auto;
        gap: 8%;
    }
    .grid-bot{
        grid-area: auto;
    }
    .main_tittle{
        font-size: 2.5em;
        margin: 0;
    }
    /* MID SECTION */

    .main{
        display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 1.3fr .7fr .7fr .3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "middle-grid-top-left middle-grid-top-left"
        "grid-quad grid-quad"
        "div_span_card_rainbow_2 div_card_rainbow_2"
        "div_span_card_UNO div_card_UNO"
        "main_grid_bot main_grid_bot"; 
        height: auto;
        text-align: center;
    }

    .middle-grid-top-left { grid-area: middle-grid-top-left; }
    .grid-quad { grid-area: grid-quad; }
    .div_card_rainbow_2 { grid-area: div_card_rainbow_2; }
    .div_span_card_rainbow_2 { grid-area: div_span_card_rainbow_2; }
    .div_span_card_UNO { grid-area: div_span_card_UNO; }
    .div_card_UNO { grid-area: div_card_UNO; }
    .main_grid_bot { grid-area: main_grid_bot; }

    .grid-quad{
        grid-template-columns: 1fr 1fr;
        gap: 3%;
    }
    .card_rainbow_2, .card_UNO, .myCard{
        width: 45vw;
        height: 32vh;
        min-height: 250px;
        min-width: 157px;
        max-width: 200px;
        max-height: 250px;
    }

    /* footer */

}