main{
    min-height: 75%;
}
.update{
    background: #272727;
    padding: 1.5em;
    border-radius: 1em 2em;
    max-width: 750px;
}

@media (max-width: 752px) {
    .top_view{
        height: 95vh;
        margin-bottom: 15vh;
        text-align: center;
        width: 90%;
    }
    h1{
        font-size: 2.5em;
    }

}